<!DOCTYPE html>
<html>
<head>
    <title>訪問可否更新</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th></th>
                <th>メイフォロー</th>
            </tr>

            <tr>
                <td>{{ form.id }}</td>
                <td>{{ form.to_user }}</td>
            </tr>
        </table>
        <input type="submit" value="更新">
    </form>
    <ul>
    {% for user in may_follow_list.all %}
        <li>{{ user.username }}</li>
    {% endfor %}
    </ul>
</body>
</html>