<!DOCTYPE html>
<html>
<head>
    <title>訪問可否更新</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <th></th>
                <th>{{staff.cafe.name}}</th>
            </tr>

            <tr>
                <td>{{ form.id }}</td>
                <td>{{ form.game }}</td>
            </tr>
        </table>
        <input type="submit" value="更新">
    </form>
    <ul>
    {% for game in games.all %}
        <li>{{ game.name }}</li>
    {% endfor %}
    </ul>
</body>
</html>